{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Strona główna{% endblock %}

{% block body %}
        <div style="width: 78vw">

            <H1>Witamy w Przychodni Stomatologicznej!</H1>
        </div>
{% endblock %}
