{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Strona główna{% endblock %}

{% block body %}
        <div style="width: 78vw">
                <H1>Pracujemy od Poniedzałku do piątku w godzinach 7:00 - 15:00</H1>
        </div>


{% endblock %}
