{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Strona główna{% endblock %}

{% block body %}
        <div style="width: 78vw">
                <H1>Numer Telefonu: 123456789</H1>
                <H1>Email: przychodniaStomatologiczna332@gmail.com</H1>
                <br> <br>

                <table style="border: 1px solid black; ">
                        <thead>
                        <tr>
                                <th>Imię</th> <th>Nazwisko</th> <th>email</th> <th>Funkcja</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                                <th>Bartosz</th> <td>Niewiadomski</td> <td>155080@student.uwm.edu.pl</td> <td>Szef</td>
                        </tr>
                        <tr>
                                <th>Daniel</th> <td>Nieznański</td> <td>158815@student.uwm.edu.pl</td> <td>Frontend</td>
                        </tr>
                        <tr>
                                <th>Sebastian</th> <td>Murawski</td> <td>155083@student.uwm.edu.pl</td> <td>Backend</td>
                        </tr>
                        <tr>
                                <th>Paweł</th> <td>Zaręba</td> <td>155085@student.uwm.edu.pl</td> <td>Backend</td>
                        </tr>
                        <tr>
                                <th>Damian</th> <td>Murawski</td> <td>155083@student.uwm.edu.pl</td> <td>Frontend</td>
                        </tr>
                        </tbody>
                </table>
        </div>
{% endblock %}
