{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Strona główna{% endblock %}

{% block body %}
        <div style="width: 78vw">
                <H3>
                Nasza przychodnia stomatologiczna zajmuję się zajmuje się leczeniem chorób zębów, przyzębia i jamy ustnej.

                W ramach leczenia stomatologicznego refundowane są m.in. świadczenia:

                <ul>
                        <li>Leczenie Zeba</li>
                        <li>Wyrwanie Zeba</li>
                        <li>Leczenie Kanałowe</li>
                        <li>Założenie aparatu</li>
                        <li>Wizyta Kontrolna</li>
                        <li>Wybielanie Zebow</li>
                        <li>Implanty Zebowe</li>
                </ul>
                </H3>
        </div>
{% endblock %}
